<div class="form-group">
	<span>Service: </span> &nbsp; <select class="selectpicker"
		ng-model="$ctrl.servicesEntries.selectedOption"
		ng-options="option.name for option in $ctrl.servicesEntries.availableOptions track by option.id"
		ng-change="$ctrl.refreshDashboard($ctrl.duringEntries.selectedOption.id , $ctrl.servicesEntries.selectedOption.id)"></select>
</div>
<div class="form-group">
	<span>During: </span> &nbsp; <select class="selectpicker" 
		ng-model="$ctrl.duringEntries.selectedOption" id="duringNodesEntry"
		ng-options="option.name for option in $ctrl.duringEntries.availableOptions track by option.id"
		ng-change="$ctrl.refreshDashboard($ctrl.duringEntries.selectedOption.id , $ctrl.servicesEntries.selectedOption.id)"></select>
</div>